<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Test_QuickOrder::quickorder"
             title="Quick Orders"
             module="Test_QuickOrder"
             sortOrder="100"
             action="test_quickorder/order/index"
             resource="Test_QuickOrder::quickorder"
             parent="Magento_Sales::sales" />
    </menu>
</config>
